<div class="ab"> Hi username <button>logout</button></div>
<br><br><br><br><br>
<img src ="#" width = 150 height="150" align="left"><pre>     PRODUCT NAME : <br><br>

     PRODUCT DETAILS: <br> <br>

     COST:  <br> <br>
                                            <input type="submit" value="buy now"> </pre>


<br><br><br><br><br>
<img src ="#" width = 150 height="150" align="left"><pre>     PRODUCT NAME : <br><br>
                                            
     PRODUCT DETAILS: <br> <br>
                                            
     COST:  <br> <br>
                                             <input type="submit" value="buy now"> </pre>
<br><br><br><br><br>
<img src ="#" width = 150 height="150" align="left"><pre>     PRODUCT NAME : <br><br>
                                                                                        
     PRODUCT DETAILS: <br> <br>
                                                                                        
     COST:  <br> <br>
                                             <input type="submit" value="buy now"> </pre>